<section class="collection wow zoomInDown">
  <div class="container-lg">
    <h2
      class="collection-title text-center fw-bold fs-2 mb-5 lh-base text-black"
    >
      Наши чайные коллекции
    </h2>
    <div class="collection-cards d-flex justify-content-center flex-wrap gap-3">
      <div
        class="card col-3"
        style="width: 18rem"
        *ngFor="let product of teaProducts"
      >
        <img src="{{ product.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ product.title }}</h5>
          <p class="card-text">
            {{ product.description | slice : 0 : 150 }}
            <span *ngIf="product.description.length > 200">...</span>
          </p>
          <button
            class="btn btn-primary"
            [routerLink]="['/catalog-item', product.id]"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
