* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  max-width: 1920px;
  margin: 0 auto;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}
